<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>건강 정보에 대한 접근 권한이 필요합니다</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>건강 정보 업데이트에 대한 권한이 필요합니다</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>소읍 측정을 위한 마이크 접근 권한이 필요합니다</string>
</dict>
</plist>
